// Navigation Styles here
nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed gray;
    
    h1 {
        align-self: flex-start;
        
    } // end of h1

    .nav-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        justify-content: space-around;
        width: 25vw;
        font-size: 1.5rem;
        
        a{
            text-decoration: none;
            font-weight: bold;
        }//end of a
    } // end of nav-buttons  
}//end of nav